*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button{
    font-family: 'Montserrat', sans-serif;
}

a:active,
a:focus,
a { 
    color: #A3A3A3;
    text-decoration: none;
}

a:hover{
    color: #fff;
}

ul, li{
    display: block;
    list-style-type: none;
    font-weight: 700;
}
/* =========== header ===========  */
.jumbotron-header{
    width: 100%;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.445);
    position: fixed;
    z-index: 98;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    text-transform: uppercase;
    background-color: transparent;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 400;
}

.button{
    margin-right: 30px;
    text-align: center;
    color: #fff;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 25px;
}

.button:hover{
    transform: scale(1.2);
}
/* =========== main =========== */
/* =========== navi side bar =========== */
.navi-sidebar{
    position: fixed;
    z-index: 99;
    height: calc(100% - 100px);
    background-color: #000000;
    width: 250px;
    min-height: 450px;
}

.container-sidebar{
    height: 100%;
    width: 100%;
}

.row-sidebar{
    height: 100%;
}

.col-sidebar{
    height: 100%;
}
/* =========== menu choice =========== */
.content-sidebar{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
}

.sidebar-list-item{
    margin-bottom: 5px;
}

.positio-relative {
    position: relative;
    bottom: 8px;
    margin-left: 5px;
    font-weight: 500;
}


.sidebar-imgs-list{
    width: 12%;
}

.logo-container{
    width: 75%;
    margin-bottom: 25px;
}

#border-left{
    border-left: 4px solid #ADFF2F;
}
/* =========== playlist menu =========== */
.content-playlist{
    margin-top: 25px;
}

.content-playlist > h4{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #fff;
}

.create-playlist{
    background-color: #A3A3A3;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-right: 10px;
}


.add{
    position: relative;
    bottom: 4px;
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
}

.add-align{
    display: flex;
    align-items: center;
}

.playlis-list{
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
}

.overflow{
    height: 30vh;
    overflow-y: scroll;
}

.hover-playlist{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hover-playlist:hover .create-playlist{
    background-color: #fff;
}

.hover-playlist:hover .hover-add{
    color: #fff;
}

/* =========== user and download part =========== */

.user{
    margin-bottom: 40px;
}

.install-app{
    color: #A3A3A3;
    display: flex;
    align-items: center;
}

.install-app:hover .download{
    color: #fff;
    border-color: #fff;
}


.download{
    margin-right: 15px;
    border: 1px solid #A3A3A3;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 0.5rem;
    text-align: center;
}

.fa-arrow-down-long{
    position: relative;
    top: 2px;
}

.download-txt{
    font-weight: 600;
}

hr{
    margin: 20px 0px;
}

.account{
    display: flex;
    align-items: center;
}

.account-avatar{
    background-image: url(../img/profile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #A3A3A3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.account-name > h4{
    color: #fff;
}
/* =========== END navi side bar =========== */
/* =========== main part in col 70 =========== */
.container-col-70{
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: #141922;
    height: 100%;
    width: calc(100% - 250px);
    margin-left: 250px;
}

.col-main-70{
    overflow-y: auto;
}

/* =========== top menu =========== */
.main-top-menu{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.list-top-menu{
    display: flex;
    text-transform: uppercase;
}

.list-item-top-menu{
    font-size: 0.6;
    color: #717171;
    font-weight: 400;
    margin: 0px 15px;
}

#green-bottom{
    border-bottom: 2px solid #ADFF2F;
}
/* =========== recently played =========== */
.for-user-container{
    /* max-width: 1170px; */
    margin: 0 auto;
}

.for-user-row{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}


h2{
    color: #fff;
    margin-left: 40px;
    font-size: 1.9rem;
}

.for-user-col-20{
    width: calc(20% - 30px);
}

.for-user-col-17{
    width: 17%;
}

.col-20-content{
    width: calc(100% - 30px);
    position: relative;
    margin: 0px 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-img{
    width: 100%;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 370px;
    width: 100%;
    background-color: #0000005d;
}

.overlay-circle{
    border-radius: 50%;
}

.play-overlay{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
}

.col-20-content:hover .overlay{
    display: block;
}

.col-20-content > .main-album-name{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 15px;
    font-weight: 700;
}

.col-20-content > .main-artist-name{
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 500;
    color: #6F7276;
}

.for-user-container > span{
    color: #6F7276;
    display: inline-block;
    margin-left: 42px;
    margin-top: 10px;
}

.circle > img{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.two{
    background-image: url(../img/einaudi.jpeg);
}


/* =========== footer navi bar =========== */
.navi-bottombar{
    background-color: #282828;
    max-width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.container-bottombar{
    max-width: 100%;
}

.row-bottombar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-bottombar-30{
    width: calc(20% - 90px);
}

.col-bottombar-40{
    height: 100px;
    width: calc(60% - 150px);
}
/* =========== footer song side =========== */
.col-30-content{
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
}

.left-col-30{
    margin-left: 10px;
}

.song-img-title{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-img-title > img{
    width: 100%;
}

.text-song{
    width: calc(60% - 20px);
    margin-left: 20px;
    font-weight: 700;
}

#album-artist{
    color: #fff;
    font-size: 1rem;
}

#album-artist:hover{
    text-decoration: underline;
}

#album-title{
    font-size: 0.8rem;
}

.folder-heart{
    width: 20%;
    font-size: 1.3rem;
    color: #A3A3A3;
}

.fa-folder{
    margin-left: 10px;
}

.fa-heart:hover{
    color: #fff;
}
.fa-folder:hover{
    color: #fff;
}
/* =========== footer player controls and view side =========== */
.col-bottombar-40{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.top-player-control > a{
    color: #fff;
    font-size: 1.2em;
    margin-left: 15px;
}

.play-music{
    font-size: 1.8rem;
}
.play-music:hover{
    transform: scale(1.2);
}

.time{
    color: #fff;
    font-size: 0.9rem;
}

.bottom-player-control{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* time bar */
.line-grey-time{
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 75px;
    position: relative;
    top: 7px;
    height: 5px;
    background-color: #5A5A5A;
    width: 40%;
}

.line-white-time{
    border-radius: 5px;
    cursor: pointer;
    margin-left: 75px;
    position: absolute;
    left: -75px;
    height: 5px;
    background-color: #d4d2d2;
    width: 20%;
}

.green-pointer-time{
    display: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    height: 5px;
    background-color: #ADFF2F;
    width: 20%;
}

.pointer-time{
    display: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -8px;
    left: 17%;
    height: 20px;
    background-color: #fff;
    width: 20px;
}

.line-grey-time:hover .pointer-time{
    display: block;
}
.line-grey-time:hover .green-pointer-time{
    display: block;
}

.line-grey-time:hover .line-white-time{
    display: none;
}
/* end time bar */


/* =========== footer volume and view side =========== */
.right-col-30{
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
}

.footer-icons{
    width: 20%;
    color: #fff;
    display: flex; 
}

.list-icons-footer{
    margin-left: 20px;
}

/* volume css */
.line-grey{
    border-radius: 5px;
    cursor: pointer;
    margin-left: 75px;
    position: relative;
    height: 5px;
    background-color: #5A5A5A;
    width: 30%;
}

.line-white{
    border-radius: 5px;
    cursor: pointer;
    margin-left: 75px;
    position: absolute;
    right: 70px;
    height: 5px;
    background-color: #d4d2d2;
    width: 40%;
}

.green-pointer{
    display: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 70px;
    height: 5px;
    background-color: #ADFF2F;
    width: 40%;
}

.pointer{
    display: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -8px;
    left: 20%;
    height: 20px;
    background-color: #fff;
    width: 20px;
}

.line-grey:hover .pointer{
    display: block;
}
.line-grey:hover .green-pointer{
    display: block;
}

.line-grey:hover .line-white{
    display: none;
}
/* =========== END footer navi bar =========== */


/* media querry */
@media screen and (max-width: 1950px) {

    .col-bottombar-30 {
        width: 30%;
    }

    .col-bottombar-40{
        width: 60%;
    }

    .song-img-title {
        width: 15%;
    }

    .text-song {
        width: calc(30% - 20px);
    }

    .col-30-content {
        margin-left: 0;
    }

    .overlay{
        height: 250px;
    }
}

@media screen and (max-width: 991px) {
    .for-user-col-20 {
        width: calc(50% - 30px);
    }

    .for-user-col-17{
        width: calc(50% - 10px);
    }

    .for-user-row{
        flex-wrap: wrap;
    }
    
    .main-top-menu{
        width: 991px;
    }

    .col-bottombar-40 {
        width: 40%;
    }

    .line-grey-time{
        margin: 0px 10px;
        width: 100%;
    }

    .col-bottombar-30 {
        width: 50%;
    }
}